[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "downscale"]
	path = downscale
	url = https://github.com/charliem2003/downscale
	shallow = true
	registered = true
